<h1>Product Stock:</h1>
<div class="row mt-3">
    <div class="col-md-3">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Brand Name</mat-label>
            <input placeholder="Brand Name" pInputText (change)="fetchAllProducts()"
                [ngModelOptions]="{standalone:true}" [(ngModel)]="brandName" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Product Category</mat-label>
            <mat-select (selectionChange)="fetchAllProducts()" [ngModelOptions]="{standalone:true}"
                [(ngModel)]="categoryName">
                <mat-option *ngFor="let cat of categories" [value]="cat.value">{{cat?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Product Code</mat-label>
            <input placeholder="Product Code" pInputText (change)="fetchAllProducts()"
                [ngModelOptions]="{standalone:true}" [(ngModel)]="code" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <div class="input-field">
            <button mat-raised-button (click)="refreshFilter()" color="warn">
                <mat-icon>refresh</mat-icon>Refresh
            </button>
        </div>
    </div>

</div>
<div class="row p-4">
    <div class="col-md-12">
        <h2>Supply History</h2>
        <hr>
    </div>
    <div class="col-md-12 p-4">
        <p-table [value]="productList" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Product Name</th>
                    <th>Brand Name</th>
                    <th>Quantity</th>
                    <th style="text-align: right;">Buying Price</th>
                    <th style="text-align: right;">Selling Price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr (click)="onselectProduct(product)">
                    <th>{{product?.productCode}}</th>
                    <th>{{product?.productName}}</th>
                    <th>{{product?.brandName}}</th>
                    <th>{{(product?.quantity)||0}} {{product?.unitType}}</th>
                    <th [currency]="product?.costPricePerUnit"></th>
                    <th [currency]="product?.sellingPricePerUnit"></th>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-md-12">
        <div style="float:right ;font-size: 16px;">
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageChange($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>