

<h2>Dashboard</h2>
<div class="mt-4 p-5 text-white rounded">
  <app-gl-summary  class="contents"></app-gl-summary>
</div>
<div class="mt-4 p-5 text-white rounded">
  <h4>Track Order</h4>
  <!-- order-dashboard.component.html -->
  <div *ngIf="orders?.length==0" class="card bg-secondary text-white mt-3">
    <div class="card-body">No Order To Track</div>
  </div>
  <div class="orders-container" *ngFor="let order of orders">
    <mat-card class="order-card">
      <mat-card-title>
        <span class="order-no">Order No: {{ order.orderNo }}</span>
        <span class="badge bg-warning ml-4">{{ order.status }}</span>
      </mat-card-title>
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-9">
            <p>
              {{ order.productCode }} -
              <span class="product-name">{{ order.productName }}</span> -
              {{ order.variant }} - Qty: {{ order.quantity }}
            </p>
            <p>Delivery Type: {{ order.deliveryType }}</p>
            <p>Address: {{ order.address }}</p>
            <p>
              Total: {{ order.total }} + Shipping: {{ order.shipping }}
              - Discount: {{ order.discount || 0 }}
              = <strong>{{ getDiscountedTotal(order) }}</strong>
            </p>
            <p>Payment Type: {{ order.paymentType }}</p>
          </div>
          <div class="col-md-3 text-end">
              <button class="mt-2" mat-raised-button color="warn" (click)="updateOrderStatus(order, 'CANCELLED')"
                *ngIf="order.status !== 'CANCELLED' && order.status !== 'DELIVERED'">
                Cancel Order
              </button>
          </div>
        </div>

        <!-- Dynamic Stepper -->
        <div class="stepper-container">
          <div class="step" *ngFor="let status of orderStatuses; let i = index"
            [class.completed]="orderStatuses.indexOf(order.status) > i"
            [class.active]="orderStatuses.indexOf(order.status) === i"
            [class.disabled]="orderStatuses.indexOf(order.status) < i">
            <span>{{ status }}</span>
            <div class="step-actions" *ngIf="orderStatuses.indexOf(order.status) === i">
              <button class="p-5" mat-raised-button  color="primary" (click)="updateOrderStatus(order, orderStatuses[i+1])"
                *ngIf="i < orderStatuses.length - 1 && order.status !== 'CANCELLED' && order.status !== 'DELIVERED'">
                Move to {{ orderStatuses[i+1] }}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>